<div class="container">
  <div class="header">
    <div class="header-home-left">
      <img src="assets/Facebook-Logo.wine.svg" alt="logo" mat-card-avatar>
      <div class="input">
        <mat-icon>search</mat-icon>
        <form>
          <input type="text" placeholder="Search Facebook">
        </form>
      </div>
    </div>
    <div class="home-header-middle">
        <div class="active">
          <mat-icon>home</mat-icon>
          <mat-icon>ondemand_videos</mat-icon>
          <mat-icon>store</mat-icon>
          <mat-icon>group</mat-icon>
          <mat-icon>flag</mat-icon>
        </div>
     </div>

    <div class="home-header-right">
      <div>
        <img src="" alt="" mat-card-avatar>
        <span class="name">MY Name</span>
      </div>
      <div>
        <mat-icon>add</mat-icon>
      </div>
      <div>
        <mat-icon matBadge="4"
                  matBadgeColor="primary" matBadgeOvelap="false" matBadgePosition="above after"></mat-icon>
      </div>
      <div>
        <mat-icon matBadge="3" matBadgeColor="warn" matBadgeOverlap="false" matBadgePosition="above after">
          notifications</mat-icon>
      </div>
    </div>
<!--    <mat-icon [matMenuTriggerFor]="menu" >expand_more</mat-icon>-->
<!--    <mat-menu #menu="matMenu">-->
<!--      <button mat-menu-item>-->
<!--        <mat-icon>exit_to_app</mat-icon>-->
<!--      </button>-->
<!--    </mat-menu>-->
    <!--Header Ends There-->
    <div class="home-body">
      <div class="home-body-sidebarleft">
      <div class="inside">
        <div class="user-avatar">
          <img src="" alt="" mat-card-avatar>
          <span class="name">Name Here</span>
        </div>
      </div>
        <div>
          <mat-icon>local_hospital</mat-icon>
          <span class="covid">Covid-19 Information Center</span>
        </div>
        <div>
          <mat-icon>flag</mat-icon>
          <span>Pages</span>
        </div>
        <div>
          <mat-icon>people</mat-icon>
          <span>friends</span>
        </div>
        <div>
          <mat-icon>chat</mat-icon>
          <span>Messenger</span>
        </div>
        <div>
          <mat-icon>store</mat-icon>
          <span>Marketplace</span>
        </div>
        <div>
          <mat-icon>video_library</mat-icon>
          <span>Videos</span>
        </div>
        .<div>
        <mat-icon class="see-more">expand_more</mat-icon>
        <span>See More</span>
      </div>
      </div>
      <div class="home-body-feelRight">
         <img alt="feed" src=""><mat-icon>data</mat-icon>

       </div>


    </div>
  </div>
</div>
