<div class="container">
  <div class="header">
    <div class="header-home-left">
      <img src="assets/Facebook-Logo.wine.svg" alt="logo" mat-card-avatar>
      <div class="input">
        <mat-icon>search</mat-icon>
        <form>
          <input type="text" placeholder="Search Facebook">
        </form>
      </div>
    </div>
    <div class="home-header-middle">
        <div class="active">
          <mat-icon>home</mat-icon>
          <mat-icon>ondemand_videos</mat-icon>
          <mat-icon>store</mat-icon>
          <mat-icon>group</mat-icon>
          <mat-icon>flag</mat-icon>
        </div>
     </div>

    <div class="home-header-right">
      <div>
        <img src="" alt="" mat-card-avatar>
        <span class="name">MY Name</span>
      </div>
      <div>
        <mat-icon>add</mat-icon>
      </div>
      <div>
        <mat-icon matBadge="4"
                  matBadgeColor="primary" matBadgeOvelap="false" matBadgePosition="above after"></mat-icon>
      </div>
      <div>
        <mat-icon matBadge="3" matBadgeColor="warn" matBadgeOverlap="false" matBadgePosition="above after">
          notifications</mat-icon>
      </div>
    </div>
    <mat-icon [matMenuTriggerFor]="menu" >expand_more</mat-icon>
    <mat-menu>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-menu>
  </div>
</div>
